/* ==================================================
                Header styles
================================================== */

.header{
    color: white;
    position: relative;
}

.header a{
    font-size: 14px;
    position: relative;
}

.header .nav-link::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: white;
    left: 0;
    bottom: -10px;
    transition: all ease 400ms;
}

.header .nav-link:hover::before{
    width: 100%;
}

.header .menu-icon{
    display: none;
}

.active-link{
    text-decoration: underline;
    text-transform: uppercase;
}
